<div>
    <div>
        <textarea type="text"
                  maxlength="140"
                  ng-model="newTweet"
                  class="postTweet"
                  placeholder="What's happening?">
        </textarea>
        <div class="postTweet-button">
            <button class="btn btn-primary tweet-button" ng-click="postTweet()">Tweet</button>
            <span class="tweet-remaining-characters">{{140 - newTweet.length}} characters remaining</span>
        </div>
    </div>
    <div ng-show="feed" class="feed">
        <div data-ng-repeat="feedItem in feed" class="tweet-box">
            <strong class="tweet-twitter-username">{{feedItem.firstName}}&nbsp;{{feedItem.lastName}}</strong>
            <span class="tweet-tweeter-handle">@{{feedItem.twitterHandle}}</span>
            <span class="tweet-tweeter-handle">&nbsp;.&nbsp;{{feedItem.created_on}}</span>

            <div class="container width-inherit">
                <div class="col-md-10 tweet-text-bx">
                    <p class="tweet-tweet-text"
                       ng-bind-html="trustHTML(feedItem.tweet_text)"
                       hashtag
                       term-click="tagTermClick($event)">
                    </p>
                </div>
                <div class="col-md-2 retweet-button-div">
                    <button
                            class="retweet-button btn btn-primary btn-sm"
                            ng-click="retweet(feedItem.tweet_id)">
                        retweet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>